.BreadcrumbList {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Breadcrumb {
  padding-left: 5px;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  .BreadcrumbContents {
    align-items: center;
    display: inline-flex;
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #323b4a;
    font-weight: 600;
    margin: 0 4px;
    padding: 5px 6px 6px;
    position: relative;
    text-decoration: none;
    transition: background 0.3s linear;
  }
  .BreadcrumbIcon {
    background: transparent;
    border-radius: 4px;
    flex-shrink: 0;
    height: 16px;
    margin-bottom: -1px;
    margin-right: 10px;
    position: relative;
    width: 16px;
    .Icon {
      margin-top: -1px;
      transition: transform 0.3s ease-in-out;
    }
  }
  .breadcrumb-title {
    max-width: 30rem;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #8d929a;
  }
}
