
body{
    margin: 0;
    font-family: Inter,Helvetica,Arial,sans-serif;
    background: #f5f6fa;
}
h1{
    p{
        color:#ddd !important;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
.heightAuto{
    height: auto;
}
.height60 {
    height: 60%;
}
.height90 {
    height: 90%;
}
.height100 {
    height: 100%;
}
.displayFlex{
    display: flex;
}
.jsb{
    justify-content: space-between;
}
.flex1 {
    flex: 1;
}
.m0{
    margin: 0;
}
.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.pr10 {
    padding-right: 10px !important;
}
.pl10{
    padding-left: 10px !important;
}
.textOverflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.cp {
    cursor: pointer !important;
}
.draggable-elem{
    position: relative;
    left: 0;
}